node_modules
.next
.env
.env.local
.env.production
*.log
.DS_Store
next-env.d.ts
.vercel
/src/lib/hooks/
/prisma/schema.prisma
/public/uploads/
/private/
docker_build.log
typecheck_errors.txt
typecheck_demo.txt
